
div#window-two-title {background-color: #e92e4d}
div#send-message .window-two-btm-inner .window-two-btm-inner-right .window-two-btm-send-img {background-color: #e92e4d}
div.chat-popup .chat-windows .chat-window-two .window-two-top .window-two-top-inner .window-two-top-inner-left .window-two-profile {background-color: #e92e4d}
.chat-popup .chat-windows .chat-window-one {background-color: #e92e4d}
div.chat-open-dialog-main {border: 3px dotted #e92e4d}
div.chat-open-dialog-main-inner {background:#e92e4d}
section.actual_msg_adm-img{background:#e92e4d;}
div.chat-popup .chat-windows .chat-middle .chat-middle-inner  {border: 3px dashed #e92e4d}
div.chat-popup .chat-windows .chat-start .chat-start-inner span.chat-start-img {background-color: #e92e4d}
.chat-popup .chat-windows .chat-window-two div.chat-content li.actual_msg.actual_msg_user section.actual_msg_text {background-color: #ffe3e8;color: #000000}
.chat-popup .chat-windows .chat-window-two div.chat-content li.actual_msg.actual_msg_btn .wp-chat-btn {color:  #e92e4d;border: 1px solid  #e92e4d}
.chat-popup .chat-windows .chat-window-two div.chat-content li.actual_msg.actual_msg_btn .wp-chat-btn span a.wp-chat-btn-link {color:  #e92e4d;}
.dropdown-content.show div {background-color: #e92e4d}
.dropdown-content{background:#e92e4d;}
.chat-popup .chat-windows .chat-window-one {background-color: #e92e4d}
.geekybot_wc_product_wrp .geekybot_wc_product_right_wrp .geekybot_wc_product_name a{color: #3e4095;}
.geekybot_wc_product_wrp .geekybot_wc_product_right_wrp .geekybot_wc_product_action_btn {color: #FFF;border: 1px solid #373435;}
.geekybot_wc_product_wrp .geeky_bot_wc_msg_btn .geeky_bot_wc_btn{border: 1px solid #e92e4d;}
.geekybot_wc_success_action_wrp a{border: 1px solid #e92e4d;}
li.geeky_bot_wc_msg_btn .geeky_bot_wc_btn{border: 1px solid #e92e4d}
.geekybot_wc_cart_item_wrp .geekybot_wc_cart_item .geekybot_wc_cart_item_right .geekybot_wc_cart_item_title a{color: #3e4095;}
.geekybot_wc_cart_item_wrp .geekybot_wc_cart_item .geekybot_wc_cart_item_qty_change {border: 1px solid #e92e4d;}
.geekybot_wc_cart_item_wrp .geekybot_wc_cart_item .geekybot_wc_cart_item_remove {border: 1px solid #e92e4d;}
.geekybot_wc_cart_checkout {border: 1px solid #e92e4d;}
.geekybot_wc_product_quantity .product_quantity {border: 1px solid #e92e4d;}
 .geekybot_wc_article_header.geekybot_wc_article_title a{color:#3e4095;}
 .geekybot_wc_product_load_more {border: 1px solid #e92e4d;}
 .geekybot_article_bnt_wrp .geekybot_article_bnt {color: #e92e4d;}
 .geekybot_wc_post_load_more{border: 1px solid #e92e4d;}
 div.chat-open-outer-popup-dialog{border: 2px solid #e92e4d;}
 div.chat-open-outer-popup-dialog .chat-open-outer-popup-dialog-top-cross-button{background-color: #e92e4d;}
 div.chat-open-outer-popup-dialog  div.chat-open-outer-popup-dialog-image{border:3px dashed #e92e4d;}
 div.geekybot-appearance-right-section button.chat-button-destroy.chat-smart-popup-destroy.active{border-color:#e92e4d;}
 div.geekybot-appearance-right-section button.chat-button-destroy.chat-smart-popup-destroy.active::after{border-color:inherit;border-left-color: transparent !important;border-right-color:transparent !important;}
 button.chat-button-destroy.active::after{border-left-color: transparent;border-right-color:transparent;}
 .chat-open-outer-popup-dialog-btmborderwrp::after{border-color:#e92e4d;border-left-color: transparent;border-right-color:transparent;}
