/*----------------------------------------------
 			Geeky Bot CSS 
------------------------------------------------*/
/**********************
	Chat POPUP
**********************/
.geekybot-chat-popup{right: auto;left: 40px;}
div.geekybot-chat-open-dialog-main{right: auto;left: 40px;}
button.geekybot-chat-close-button.active::after{right: auto;left: 12px;}
.geekybot-chat-popup.geekybot-chat-init .geekybot-chat-windows {transform: translateX(0);float: left;}
.geekybot-chat-popup .geekybot-chat-windows .chat-window-one{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window{float: left !important;}
.geekybot-chat-popup .geekybot-chat-windows .chat-start .chat-start-inner{padding-right: 20px;padding-left: 11px;}
.geekybot-chat-popup .geekybot-chat-windows .chat-start .chat-start-inner span.chat-start-img{margin-left: 0;margin-right: 15px;float: left;}
button.geekybot-chat-open-dialog, button.geekybot-chat-close-button, .geekybot-chat-close-button.active, .geekybot-chat-open-dialog.active{right: auto;left: 50px;}
.geekybot-chat-popup .geekybot-chat-windows .chat-start .chat-start-inner span.chat-start-img img{transform: scaleX(-1);}
.geekybot-chat-popup .geekybot-chat-windows .chat-powered-by .chat-powered-by-inner .chat-powered-by-inner-img, .geekybot-chat-popup .geekybot-chat-windows .chat-powered-by .chat-powered-by-inner .chat-powered-by-inner-cnt{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-left{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-left .geekybot-window-profile{left: auto;right: 15px;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-left i.fa.fa-circle{left: auto;right: 75px;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-left .geekybot-window-profile-text .geekybot-window-text span{margin-left: 0;margin-right: 15px;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-left .geekybot-window-profile-text{text-align: right;float: left;}
#geekybot-send-message .geekybot-window-bottom-inner .geekybot-window-bottom-inner-right .geekybot-window-bottom-send-img{float: left;}
#geekybot-send-message{left: 0;bottom: 0;}
.geekybot-dropdown-content{right: auto;left: 0;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-right{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window .geekybot-window-top .geekybot-window-top-inner .geekybot-window-top-inner-right .geekybot-window-top-dot-img img{right: auto;left: 15px;}
#geekybot-send-message .geekybot-window-bottom-inner .geekybot-window-bottom-inner-left .fa-microphone{border-right: unset;border-left: 1px solid #bdbfc1;}
#geekybot-send-message .geekybot-window-bottom-inner .geekybot-window-bottom-inner-right .geekybot-window-bottom-send-img img{transform: scaleX(-1);}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message{text-align: left;float: left;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-user section.geekybot-message-user-img{margin-left: 0;margin-right: 8px;float: left;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-user section.geekybot-message-text{float: left;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-bot section.geekybot-message-bot-img{float: right;margin-left: 8px;margin-right: 0;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-bot{float: right;text-align: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-bot section.geekybot-message-text{float: right;}
.geekybot-dropdown-content div{text-align: right;}
#geekybot-send-message .border-0{padding-right:20px;padding-left: 6px;}
div.geekybot-chat-open-outer-popup-mainwrp{right: auto;left: 50px;}
.geekybot-chat-open-outer-popup-dialog-btmborderwrp::after{right: auto;left: 12px;}
div.geekybot-chat-open-outer-popup-mainwrp .geekybot-chat-open-outer-popup-abandonment .geekybot-chat-open-outer-popup-abandonment-items{padding-left: 0;padding-right: 7px;}
div.geekybot-chat-open-outer-popup-dialog .geekybot-chat-open-outer-popup-dialog-top-cross-button{right: auto;left: 10px;}
/* web search */
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-bot section.geekybot-message-text{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-bot{float: right;}
.geekybot-chat-popup .geekybot-chat-windows .geekybot-chat-window div.geekybot-chat-content li.geekybot-message.geekybot-message-button{float: right;}
/* new */
.geekybot_order_card p .geekybot_order_card_left{float: right;margin-right: 0;margin-left: 5px;}
.geekybot_order_card p .geekybot_order_card_right{float: left;}
.geekybot_article_bnt_wrp .geekybot_article_bnt{float: right;text-align: right;}
.geekybot_article_bnt_wrp .geekybot_article_bnt img{float: left;transform: scaleX(-1);}
li.geeky_bot_wc_msg_btn{float: right;}
